body {
  overflow-x: hidden;
  background-color: #F1E8D4;
}

.hero_container {
  position: relative;
  width: 100%;
  border: 1px solid black; /* REMOVE */
  height: 110vh;
}

.hero_images_container {
  position: absolute;
}

.hero_images_container img {
  width: 100%;
}

/* Top blobs */

.images_container__top {
  /* position: absolute; */ /* implied */
  top: 0;
  width: 100%;
}

.images_container__top div {
  position: absolute;
}

#blob_container__top--blue {
  transform: translate(0%, -50%);
}

#blob_container__top--green {
  width: 20%;
  transform: translate(-30%, -20%);
}

/* Left blobs */

.images_container__left {
  /* position: absolute; */ /* implied */
  height: 100%;
  width: 100%;
  left: 0px;
  /* background-color: #FFF; */ /* REMOVE */
}

.images_container__left div {
  /* position: absolute; */
}

#blob_container__left--yellow {
  width: 40%;
  transform: translate(-40%, 10%);
}

#blob_container__left--grey {
  width: 20%;
  transform: translate(0%, 100%);
}

#blob_container__left--red {
  width: 20%;
  transform: translate(40%, -190%);
}























.images_container__right {
  right: 0px;
}
