@font-face {
  font-family: "SportingGrotesque";
  font-weight: 400;
  src: url("SportingGrotesque-Regular.otf");
}

@font-face {
  font-family: "SportingGrotesque";
  src: url("SportingGrotesque-Bold.otf");
  font-weight: bold;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  margin: 0;
  z-index: 0;
  background-image:
    linear-gradient(
      #F1E8D4,
      #fffdf9 40%
    );
}

.site_wrapper {
  overflow-x: hidden;

}

h1 {
  font-size: 84px;
  font-size: 4.5vw;
}

h3 {
  font-size: 24px;
  font-size: 1.25vw;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  color: #666;
}

a {
  width: auto;
  height: auto;
  padding: 10px 20px;
  font-size: 1.25vw;

  border: none;
  color: #FFFDF9;
  background-color: #48488E;
  border-radius: 5px;

}


@media only screen and (max-width: 600px) {

  h1 {
    font-size: 84px;
    font-size: 12vw;
  }

  h3 {
    font-size: 24px;
    font-size: 2.5vw;
  }

  a {
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 4vw;

    border: none;
    color: #FFFDF9;
    background-color: #48488E;
    border-radius: 5px;

  }
}

.container {
  z-index: 0;
}

.hidden-footer_container {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: -1000;
}

.hero_container--outer {
  font-family: "SportingGrotesque";
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

/* Hero Text */

.hero_text_container--outer {

}

.hero_text_container--inner {
  color: #fffbf2;
  position: absolute;
  width: 22%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
}

.hero_text_container--inner svg {
  width: auto;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 10.5vw;
}

.hero_text_container--inner h1 {
  text-align: left;
  line-height: 5vw;
}

.presents__container {
  /* background-color: white; */

  transform: translate(0%, 200%);
  z-index: 1000;
}

.presents__container h3 {
  color: #333;
}

.presents__container h2 {
  display: inline;
}



#reach {
  color: #E17A5C;
}

#build {
  color: #B8B836;
}

#grow {
  color: #48488E;
}



@media only screen and (max-width: 1024px) {

  .hero_text_container--inner {
    transform: translate(-50%, -55%);
  }

  .presents__container {
    /* background-color: white; */

    transform: translate(0%, 200%);
    z-index: 1000;
  }


}

@media only screen and (max-width: 600px) {

  .hero_text_container--inner {
    color: #fffbf2;
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
  }

  .hero_text_container--inner svg {
    width: auto;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 23vw;
  }

  .hero_text_container--inner h1 {
    text-align: left;
    line-height: 12vw;
  }

  .presents__container {
    /* background-color: white; */

    transform: translate(0%, 120%);
    z-index: 1000;
  }

  .presents__container h3 {
    font-size: 3vw;
    /* width: 40%; */
  }

  .button__container button {
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 3vw;
  }
}










.hero_images_container {
  position: absolute;
}

.hero_images_container img {
  width: 100%;
}

/* Z index */

.blob_container--grey {
  z-index: -5;
}

.blob_container--yellow {
  z-index: -4;
}

.blob_container--green {
  z-index: -3;
}

.blob_container--blue {
  z-index: -2;
}

.blob_container--red {
  z-index: -1;
}

/* Center blobs */

.images_container__center {
  /* position: absolute; */ /* implied */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.images_container__center div {
  position: absolute;
}

.images_container__center .blob_container--red {
  width: 40%;
  /* max-width: 800px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

@media only screen and (max-width: 600px) {

  .images_container__center .blob_container--red {
    width: 90%;
    /* max-width: 800px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

}

/* Top blobs */

.images_container__top {
  /* position: absolute; */ /* implied */
  top: 0;
  width: 100%;
  height: 100%;
}

.images_container__top div {
  position: absolute;
}

.images_container__top .blob_container--blue {
  width: 100%;
  transform: translate(5%, -40%);
}

.images_container__top .blob_container--green {
  width: 20%;
  transform: translate(-30%, -20%);
}

@media only screen and (max-width: 600px) {

  .images_container__top .blob_container--blue {
    width: 200%;
    transform: translate(-10%, -40%);
  }

  .images_container__top .blob_container--green {
    width: 60%;
    transform: translate(-40%, 0%);
  }


}

/* Left blobs */

.images_container__left {
  /* position: absolute; */ /* implied */
  height: 100%;
  width: 100%;
  left: 0px;
}

.images_container__left div {
  position: absolute;
}

.images_container__left .blob_container--yellow {
  width: 40%;
  top: 50%;
  transform: translate(-40%, -40%);
}

.images_container__left .blob_container--red {
  width: 20%;
  bottom: 0%;
  transform: translate(40%, 0%);
}

@media only screen and (max-width: 600px) {

  .images_container__left .blob_container--yellow {
    width: 100%;
    top: 50%;
    transform: translate(-40%, -40%);
  }

  .images_container__left .blob_container--red {
    width: 60%;
    bottom: 0%;
    transform: translate(-20%, 10%);
  }

}

/* Right blobs */

.images_container__right {
  /* position: absolute; */ /* implied */
  height: 100%;
  width: 100%;
  right: 0px;
  /* background-color: white; */
}

.images_container__right div {
  position: absolute;
  right: 0px;
}

.images_container__right .blob_container--red {
  width: 30%;
  transform: translate(40%, -20%);
}

.images_container__right .blob_container--grey {
  width: 40%;
  top: 50%;
  transform: translate(40%, -50%);
}

.images_container__right .blob_container--green {
  width: 50%;
  bottom: 0%;
  transform: translate(60%, 40%);
}

@media only screen and (max-width: 600px) {

  .images_container__right .blob_container--red {
    width: 30%;
    transform: translate(40%, -20%);
  }

  .images_container__right .blob_container--grey {
    width: 80%;
    top: 50%;
    transform: translate(40%, -40%);
  }

  .images_container__right .blob_container--green {
    width: 100%;
    bottom: 0%;
    transform: translate(40%, 40%);
  }

}







.content {
  margin: auto;
  width: 60%;
}

.container {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {

  .content {
    margin-top: 40%;
    width: 95%;
  }

}

.content h2 {
  text-align: center;
  padding-bottom: 50px;
}


/* About */

.about_container {
  position: relative;
}

.about_container>p {
  margin-top: 50px;
  font-size: 18px;
}

.about-icon_container {
  position: relative;
  height: 40px;
}

.about-icon_wrapper {
  position: absolute;
  /* top: 0; */
  right: 0;
  /* bottom: 0; */
  width: 50px;
  height: 100%;
}

.about-icon_wrapper i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;

  color: #48488E;
}

.about-text_container {
  position: relative;
}

.about-text_container p {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 24px;
}

@media only screen and (max-width: 600px) {

  .about-text_container p {
    font-size: 16px;
  }

}

#time {
  color: #666;

}

.button__container {
  position: relative;
  height: 100px;
}

.button__container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_container .image_wrapper {
  transform: scaleY(-1);
}

.about_container img {
  position: absolute;
  width: 175%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}












.speakers_container {
  /* background-color: #FFF; */
  margin-bottom: 50px;
}

.speakers-img_container {
  margin-bottom: 16px;
}

.speakers-img_container img {
  width: 100%;
  height: auto;
}

.speakers-name_container h4 {
  color: #48488E;
}


.schedule-row {
  margin-bottom: 40px;
}

.schedule-time {
  font-weight: 600;
  color: #E17A5C;
}

.schedule-row b {
  color: #333;
}
