.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1728A8;
  overflow-x: hidden;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #111;
}

.banner {
  height: 100vh;
}

.rotateRight {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotateLeft {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.content {
  width: 100vw;
  height: 100vh;
  /* margin:auto; */
  top:-5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* background-color: #111; */
  /* z-index: -5; */
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.contentText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.registerButton {
  font-family: 'Pixelade';
  background-color: #F45093;
  color: white;
  width: 18%;
  
  font-size: 36px;
  font-weight: 400;
  padding: 10px 0px;
}
.registerButton:hover {
  background-color: #1728A8;
}

.section2 {
  padding: 30px;
  width: 100vw;
  background-color: #9affff;
  text-transform: uppercase;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.speakerHover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 300px;
}
.speakerHover:hover {
  background-color: rgb(23,40,168, .1);
}

.speakerTime {
  color: #ff62ff;
  font-family: 'Pixelade';
  font-weight: 400;
  font-size: 36px;
}
.speakerName {
  color: #1c4bbd;
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.speakerDesc {
  max-width: 60%;
  float: right;
  color: #1c4bbd;
  font-family: 'DMSans';
  font-weight: 400;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  text-transform: lowercase;
}

.speakerPrez {
  color: #492F5B;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  text-transform: lowercase;
}

h2 {
  color: white;
  font-family: 'Pixelade';
  font-weight: 400;
}

h3 {
  font-family: 'Pixelade';
  font-weight: 400;
  font-size: 36px;
  line-height: 0px;
  /* margin: 20px; */
  padding: 0px;
  color: white;
}

p {
  color: #1c4bbd;
  /* font-family: pinot-grigio-modern, sans-serif; */
  font-weight: 500;
  font-style: normal;
  padding: 0 100px;
}

.REACH {
  color: #1728A8;
}
.GROW {
  color: #EE42A8;
}
.BUILD {
  color: #FFB91C;
}
a {
  color: white;
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  text-align: center;
  font-family: 'Pixelade';
  font-weight: 400;
  font-size: 18px;
}

.footer a {
  color: #61d4ff;
}

.footer a:hover {
  color: #ffffb7;
}

@media screen and (max-width: 1000px) {
  .speakerHover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .schedule {
    font-size: 14px;
  }

  .speakerPrez {
    width: 50%;
  }

  .speakerDesc {
    width: 50%;
  }
}