.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1728A8;

}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 400px;
}

.rotateRight {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotateLeft {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.registerButton {
  font-family: 'Terminal';
  background-color: #F45093;
  color: white;
  font-weight: 400;
  width: 100%;
}

.section2 {
  width: 800px;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  color: #1728A8;
  font-family: 'Terminal';
  font-weight: 400;
}

h3 {
  font-family: 'Terminal';
  font-weight: 400;
  font-size: 36px;
}

.REACH {
  color: #1728A8;
}
.GROW {
  color: #EE42A8;
}
.BUILD {
  color: #FFB91C;
}
a {
  color: white;
  text-decoration: none;
}